<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
   
      <!-- CASA-->
   
    <add name="SistemaFact.Properties.Settings.JOYConnectionString1"
            connectionString="Data Source=DESKTOP-PICJCLR\SQLEXPRESS;Initial Catalog=JOY;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings> 
   
  <!-- JOYERIA DESKTOP-I0OF5F9\SQLEXPRESS-->
   
  <!--
   <add name="SistemaFact.Properties.Settings.JOYConnectionString1"
            connectionString="Data Source=DESKTOP-I0OF5F9\SQLEXPRESS;Initial Catalog=JOY;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings> 
    -->
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
</configuration>