<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
      <!--
       
        <add name="SistemaFact.Properties.Settings.LIBRERIAConnectionString"
            connectionString="Data Source=NTBK\SQLEXPRESS;Initial Catalog=LIBRERIA;Integrated Security=True"
            providerName="System.Data.SqlClient" />
      -->
      <!--
        <add name="SistemaFact.Properties.Settings.ISAUIConnectionString"
            connectionString="Data Source=DESKTOP-BI5616Bpablo\SQLEXPRESS;Initial Catalog=ISAUI;Integrated Security=True"
            providerName="System.Data.SqlClient" />
      -->
      <!-- CASA-->
   
    <add name="SistemaFact.Properties.Settings.JOYConnectionString1"
            connectionString="Data Source=DESKTOP-BI5616B\SQLEXPRESS;Initial Catalog=JOY;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings> 
   
  <!-- JOYERIA DESKTOP-I0OF5F9\SQLEXPRESS-->
    <!--
   <add name="SistemaFact.Properties.Settings.JOYConnectionString1"
            connectionString="Data Source=DESKTOP-I0OF5F9\SQLEXPRESS;Initial Catalog=JOY;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings> 
     -->
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
</configuration>